<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar Chapter 5</title>
</head>
<body>
    <!-- Side Bar Main Menu -->
    <section class="side-bar">
        <img src="/images/logo-sidebar.png" class="logo-sidebar">
        <button>
            <img src="/images/dashboard-sidebar.png">
            <p>Dashboard</p>
        </button>
        <button class="active-sidebar">
            <img src="/images/truk-sidebar.png">
            <p>Cars</p>
        </button>
    </section>
</body>
</html>