<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar2 Chapter 5</title>
</head>
<body>
    <!-- Side Bar 2 -->
    <section class="side-bar2 my-5">
        <button class="nonactive-sidebar2">
            <p id="cars" class="mx-3">CARS</p>
        </button>
        <button class="active-sidebar2">
            <p id="list">List Car</p>
        </button>
    </section>
</body>
</html>